/* css file*/
/* Kommentar */

body {
  font-family: 'Roboto', sans-serif;
  color: #fffaf0;
  margin: 0;
}

article { /* Eigenschaften von den beiden unterkapitel-titel */
  text-align: justify;
  line-height: 200%;
  font-size: 18px;
  padding: 50px;
}

.artimg {
  min-height: 455px;
}

.imgright {
  float: right;
  padding-left: 30px;
}

.imgleft {
  float: left;
  padding-right: 30px;
}

.middle {
  text-align: center;
  padding: 60px;
  padding-left: 300px;
  padding-right: 300px;

}
.black {
  background-color: #1B1B1B;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #000;
}

h1 { /* Eigenschaften von h1 */
  width: 100%;  /* Wo erscheint die Schrift auf dem Screen */
  font-family: "Times New Roman", Times, serif; /* Schriftart */
  color: #FFE2B7;
  font-size: 180px; /* schreibgrösse */
  padding-top: 200px; /* Freiraum oben */
  padding-bottom: 120px;
  margin-top: 0;
  text-align: center; /* Wo erscheint die Schrift auf dem Screen */
  background: url(XSSBackground.jpg);
  background-size: 800px auto;


}

h2 { /* Eigenschaften von h2 */
  color:black ;
  width: 100%; /* Wo erscheint die Schrift auf dem Screen */
  font-weight: 250px; /* Dicke der Schrift */
  font-size: 70px;  /* schreibgrösse */
  /*font-family: Georgia; /* Schriftart */
  padding-top: 30px;
  line-height: 24px;  /* abstand oben */
  text-align: left;/* Wo erscheint die Schrift auf dem Screen */
  text-align: center;
}

h3 {
  margin-top: 0;
}

p { /* Eigenschaften von paragraph p */
  color: white;
  text-align: center;
  padding-bottom: 0px; 
  text-decoration: none;
}

a { /* Eigenschaften von link a */
  color:  #add8e6;
}

textarea { /* Textfeld (kann nicht grösser oder kleiner sein) */
  resize: none;
}

form { /* Comment section: Eingabe ist nebeneinander */
  display: inline-block;
}

#link-container { /* In die Mitte schieben */
  text-align: center;
  text-decoration: none;
  padding-top: 20px;
}

.comments { /* Auflistungspunkte rauslöschen */
  list-style-type: none;
}

.comments li { /* Kommentarfeldformatierung */
  width: 400px;
  height: 100px;
  background-color: #26272B;
  border-width: 5px;
  margin-bottom: 40px;
  position: relative;
}

.bleft { /* feiner, farbiger Rand der Kommentare links */
  border-left-style: solid;
}

.bright { /* feiner, farbiger Rand der Kommentare rechts */
  border-right-style: solid;
}

.content { /* Text im Kommentarfeld */
  color: #fffaf0;
  text-align: left;
  margin-left: 10px;
  padding-top: 10px;
}

.username { /* Formatierung des Namens im Kommentarfeld */
  position: absolute;
  top: 60px;
  text-align: right;
  color: #9FA2A7;
}

.username.uleft { /* Formatierung des Namens im Kommentarfeld im Bezug auf die feinen, farbigen Ränder  */
  right: 15px;
}

.username.uright { /* Formatierung des Namens im Kommentarfeld im Bezug auf die feinen, farbigen Ränder  */
  right: 10px;
}

.red { /* Zufallsfarbe für die feinen, farbigen Ränder der Kommentarfelder  */
  border-color: #FF0000;
}

.purple {
  border-color: #CC00FF;
}

.pink {
  border-color: #FF00FF;
}

.green {
  border-color: #00FF00;
}

.blue {
  border-color: #00FFFF;
}

.yellow {
  border-color: #FFFF00;
}

.commentform { /* Box mit den Comments-settings */
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.submit { /* submit_Button */
  position: relative;
  right: -5.7%;
}

.resetcomments { /* resetcomments-Button */
  position: relative;
  left: 400%;
  top: -40px;
}

.button { /* Allg. Einstellungen für Buttons */
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background: #89CFF0;
  border-color: black;
  border-width: 3px;
}

.button:hover { /* Animation für Button */
  background: #00ff99;
}

.scrollup { /* Zurück-nach-oben Button */
  position: fixed; 
  font-size: 12px;
  width: auto;
  height: 70px;
  bottom: -20px; 
  text-decoration: none;
  color:#FFFFFF;
  background-color: #808080;
  line-height: 50px;
  padding: 0px 25px 0px 25px;
  margin-left: 91%;
  border: 1px solid #c9c9c9;
  border-radius: 15px;
  transition: 1s; /* Slide-Animation am Anfang */
}

.scrollup:hover { /* Animation für Buttons   */
  background: #00ff99;
}

.topnavigation {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
  padding-left: 20px; 
}

.topnavigation a {
  text-decoration: none;
  font-family: arial black;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 25px;
  display: block;
}

.topnavigation a:hover {
  background: #808080;
  color: black;
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

#icon {
  padding-right: 50px;
  float: left;
  padding: 15px 50px 0px 0px;
}

#iconlink {
  all: unset;
  color: #FFE2B7;
  font-size: 40px;
  font: "Roboto";
}
